/*--------------------------------//
//                                //
//             Color              //
//                                //
//--------------------------------*/
body {
	/*
		Primary Color
	*/
	--color-primary: #0071CD;
	--color-primary-text: #FFF;
	
	/*
		Background
	*/
	--color-background: #0B233F;
	--color-background-text: #FFF;
}