/*--------------------------------//
//                                //
//              Main              //
//                                //
//--------------------------------*/
body {
	color: #FFF;
	color: var(--color-background-text);
	background-color: #0B233F;
	background-color: var(--color-background);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100vh;
	width: 50vw;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.divider {
	width: 2px;
	height: 50vh;
	background-color: #0071CD;
	background-color: var(--color-primary);
}

input[type=text] {
	color: #FFF;
	color: var(--color-background-text);
	background-color: #0B233F;
	background-color: var(--color-background);
	border: none;
	border-bottom: #0071CD 2px solid;
	border-bottom: var(--color-primary) 2px solid;
	text-align: center;
}

.material-icons {
	color: #0071CD;
	color: var(--color-primary);
}