/*--------------------------------//
//                                //
//              Main              //
//                                //
//--------------------------------*/
body {
	color: #FFF;
	color: var(--color-primary-text);
	background-color: #344955;
	background-color: var(--color-primary);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100vh;
	width: 50vw;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.divider {
	width: 2px;
	height: 50vh;
	background-color: #F9AA33;
	background-color: var(--color-secondary);
}

input[type=text] {
	color: #000;
	color: var(--color-primary-text);
	background-color: #344955;
	background-color: var(--color-primary);
	border: none;
	border-bottom: var(--color-secondary) 2px solid;
}