/*--------------------------------//
//                                //
//              Main              //
//                                //
//--------------------------------*/
body {
	color: #FFF;
	color: var(--color-primary-text);
	background-color: #344955;
	background-color: var(--color-primary);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100vh;
	width: 50vw;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}